---

---

/* CONFIGURATION */

/* Bodytext font */
$font: 'Muli', sans-serif;

/* Font for headings */
$fontheadings: 'Montserrat', sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #fcb040;
/*#2077b2;*/


/* IMPORT CSS FILES */
@import "bootstrap.scss";
@import "base";
@import "nav";
@import "article";
@import "syntax";
@import "responsive";
@import "blockquote-hack.scss";

img {
	max-width: 100%;
}

@media print {
.site-nav #navigation a {
    display: inline;
  }

}

div.blog-cover>section>div.container>h4 {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}
