---

---

/* CONFIGURATION */

/* Bodytext font */
$font: 'Muli', sans-serif;

/* Font for headings */
$fontheadings: 'Montserrat', sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #fcb040;
/*#2077b2;*/


/* IMPORT CSS FILES */
@import "bootstrap.scss";
@import "base";
@import "nav";
@import "article";
@import "syntax";
@import "responsive";
@import "blockquote-hack.scss";

img {
	max-width: 100%;
}

@media print {
.site-nav #navigation a {
    display: inline;
  }

}

div.blog-cover>section>div.container>h4 {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
}

li.blg-post-item {
    max-width: 200px;
    display: inline;
    float: left;
    margin: 10px;
}

li.blg-post-item a img {
 max-height: 200px;
}


.c-homepage { 
  background: url(/images/people-crowd.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.c-brand {
    max-width:100px;
    max-height:100px;
}