---

---

/* CONFIGURATION */

/* Bodytext font */
$font: 'Muli', sans-serif;

/* Font for headings */
$fontheadings: 'Montserrat', sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "bootstrap.scss";
@import "base";
@import "nav";
@import "article";
@import "syntax";
@import "responsive";
@import "blockquote-hack.scss";
