<!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
    <form action="/" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label id="emaildialogsignupLabel" for="mce-EMAIL">Our quarterly newsletter delivers insights from Chief Investment Officer Todd Krajniak.</label>
        <div class="input-group margin-bottom-md">
            <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Email address" required />
        </div>
        <br />
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_4cd3b5ef9af4809c134c0c1f5_7d02bf6bf5" tabindex="-1" value="" /></div>
            <div class="clear"></div>
            <button class="btn btn-lg btn-success" type="submit" >SIGN UP!</button>
        </form>
        </div>
    </div>