<div class="blog-cover" style="background-image:url(/images/includes/index-header/financial-freedom.jpg);">
    <section> 
        <div class="container">
            <h1>Freedom to Do...</h1>
            <h3>KCM: Good people working together toward your financial goals.</h3>
            <a class="btn btn-gray" role="button" href="/investor/">I'm an investor</a>
                        <a href="/launching-careers-and-paths-forward-for-good-people/" class="btn btn-orange" role="button">Become a rep</a>
        </div>
    </section>
</div> 