    <div class="panel panel-default">
      <div class="panel-heading text-center" style="color:#fff;background-color: #d90000;">
        <h3 class="panel-title">BE THE FIRST TO HEAR</h3>
      </div>
      <div class="panel-body">
        <p class="text-center">Be the first to learn about effective tools and techniques. Click the green button to join my mailing list!
      </p>
        <div class="text-center">
        {% include request-signup.html param="CLICK HERE TO SUBSCRIBE" %}
        
        </div>

      </div>
    </div>